@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bokor&family=Bungee&family=Funnel+Display:wght@300..800&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Konkhmer+Sleokchher&family=Koulen&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgba(31, 74, 155, 0.842);
    

}
.product{

    margin-left: 35%;
    border: 2px solid rgb(80, 169, 221);
    width: 500px;
    height: 600px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.img img{
    width: 495px;
    height: 360px;
    border-radius: 10px;
}

.leter{
    padding: 10px 10px;
    height: 232px;
    border: 2px solid ;
    border-radius: 10px;
    color: aqua;
}
.leter h2{
    font-family: "Kantumruy Pro", sans-serif;
}
.leter button{
    border: 2px solid rgb(161, 114, 11);
   font-family: "Kantumruy Pro", sans-serif;
    color: aliceblue;  
}
.leter p{
    font-family: "Kantumruy Pro", sans-serif;
   color: aliceblue;
    font-weight: bold;
}
.addcard{
    border: none;
    padding: 12px 24px;
    border-color: 20px;
    font-size: 16px; 
    background-color: cornsilk;
    

}
#p{
    font-size: 15px;
}
.tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;

}

