*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contianer{
    width: 350px;
    height: 600px;
    background-color: rgb(21, 46, 46);
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
}
.header-card{
    width: 350px;
    height: 250px;
    background-color: cadetblue;
    border-radius: 30px;
}
#icon{
    position: absolute;
    top: 30px;
    left: 15px;
}
#icon1{
    position: absolute;
    top: 30px;
    right: 15px;
}
.img{
    width: 350px;
    height: 250px;  
    object-fit: cover;
}
