*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
header{
    width: 100%;
    background: #11e4e4;
    padding: 10px 40px;
}
.navigate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lo-img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 12px;
}

.search{
    display: flex;
    align-items: center;
    background: white;
    width: 450px;
    padding: 15px 15px;
    border-radius: 40px;
}
.search input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}
/* Search Icon */
.material-symbols-outlined{
    color: #555;
    cursor: pointer;
}

.main-option{
    display: flex;
    gap: 35px;
    list-style: none;
}
.main-option li{
    position: relative;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
.main-option li:hover{
    color: white;
}
.dropdown-menu{
    position: absolute;
    top: 35px;
    left: 0;
    width: 170px;
    background: white;
    border-radius: 10px;
    padding: 10px 0;
    list-style: none;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.dropdown-menu li{
    padding: 10px 15px;
    color: black;
}
.dropdown-menu li:hover{
    background: #f1f1f1;
    color: black;
}
.dropdown-menu{
    opacity: 0;
    visibility: hidden;
    transform: 0.3s;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.nav-action{
    display: flex;
    gap: 15px;
}
.nav-action a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}
.nav-action a:hover{
    color: white;
}